.Header {
  height: 130px;
  color: white;
  background: #EC644B;
  width: 100%;
  padding-top: 15px;
}

.Header h1 {
  margin: 0 auto;
}

.Header a {
  text-decoration: none;
  margin: 20px;
  display: inline-block;
}


